.wrapper-post {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}
@media screen and (max-width: 1200px) {
	.wrapper-post {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 768px) {
	.wrapper-post {
		grid-template-columns: 1fr;
	}
}
